.header {
  background-color: #ffcd9e;

  height: 70vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.footer {
  background-color: #282828;
  height: 30vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
body {
  margin: 0;
  font-family: Inter;
}
.head1 {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 5;
}
.head2 {
}
.box1 {
  width: 80%;
  margin: 7px;
}
#info {
  color: #ffffff;
  font: inter;
  font-size: 16px;
  font-weight: 500;
}
h1 {
  font-size: 32px;
  font-weight: 700;
}
.ul1 {
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  align-items: start;
  gap: 5px;
  list-style-type: none;
}
.ul2 {
  color: #ffffff;
  display: flex;
  flex-direction: column;

  justify-content: space-around;
  align-items: end;
  gap: 5px;
  list-style-type: none;
}
#input {
  border: solid 3px black;
  padding: 5px 10px;
  border-radius: 8%;
  font-size: 20px;
}
#button {
  border: solid 3px black;
  padding: 5px 15px;
  border-radius: 8%;
  background-color: black;
  color: #ffffff;
  font-size: 20px;
}

#para {
  color: #484848;
  font-size: 20px;
  font-weight: 500;
}
